_PoiyomiShaders/
OptimizedShaders/

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Pp]lugins/
# Ignore everything in Packages
**/[Pp]ackages/*
# Except the manifests that define which packages to download
!**/[Pp]ackages/manifest.json
!**/[Pp]ackages/packages-lock.json
!**/[Pp]ackages/vpm-manifest.json
# Textmesh Pro
TextMesh Pro/
TextMesh Pro.meta

# VS / Rider / IDE
.vs/
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# OS junk
.DS_Store
Thumbs.db

# Crash / debug
*.stacktrace
